<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>   
    <clear />
<add name="ConnectionString"
         connectionString="data source=DESKTOP-ATITK4D;
   Initial Catalog=tempdb;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
</connectionStrings> 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>